root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{java,json,xml}]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.{java}]
max_line_length = 120

# Markdown files sometimes require trailing whitespace
[*.{md}]
trim_trailing_whitespace = false
